#valbox {
  width: 400px;
  display: block;
}

.valentine-text {
  font-size: 36px;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  position: absolute; 
  top: 10%; 
  left: 50%; 
  transform: translateX(-50%); 
}



.central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes coverAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}


@keyframes love1Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}
@keyframes love2Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9%);
  }
}
@keyframes love3Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14%);
  }
}
@keyframes love4Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}
@keyframes love5Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

@keyframes ribbon2Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9%);
  }
}

@keyframes ribbon1Animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

#cover {
  animation: coverAnimation 4s ease-in-out;
}


#love1 {
  animation: love1Animation 5s ease-in-out;
}

#love2 {
  animation: love2Animation 5s ease-in-out;
}

#love3 {
  animation: love3Animation 5s ease-in-out;
}

#love4 {
  animation: love4Animation 5s ease-in-out;
}

#love5 {
  animation: love5Animation 5s ease-in-out;
}

#ribbon1 {
  animation: ribbon1Animation 5s ease-in-out;
}

#ribbon2 {
  animation: ribbon2Animation 3s ease-in-out;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#decor circle {
  animation: blink 3s infinite;
}
