ul {
  list-style-type: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  max-width: 1070px;
  width: 100%;
  margin: auto;
}

.navigation .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation .menu li {
  margin-right: 20px;
}

.navigation .menu li a {
  color: #3b3b3b;
  text-decoration: none;
}

.menu-btn {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}

.menu-icon::before {
  content: '\2630'; 
}

.menu {
  display: none;
}

.menu-btn:checked + .navigation .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  padding: 20px;
}

.menu-btn:checked + .navigation .menu li {
  margin-bottom: 20px;
}


.main-logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1000;
}

.main-logo img {
  width: 250px;
  height: auto;
}

#background-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  height: 400px;
  border-radius: 30px;
  background-color: #ffffff;
  margin: 10px auto;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 80px;
}

.main-text h1 {
  font-size: 4rem;
  color: rgb(122, 65, 0);
}

#background-box img {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

.btn {
  display: flex;
  margin-left: -820px;
  margin-top: 120px;
  width: 200px;
  padding: 10px 18px;
  background-color: #ff4800;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  transition: width 0.5s, background-color 0.3s, color 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: rgb(255, 153, 0);
  color: black;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 260px;
  }
}

@font-face {
  font-family: 'DIN Alternate';
  src: url('DINAlternate-Bold.ttf') format('truetype');
}

.main-text {
  font-family: 'DIN Alternate', sans-serif;
}
